<tr>
    <td>{{id}}</td>
    <td><img src="{{pathToImage}}" alt="test" onerror="this.onerror=null;callfun(this);"></td>
    <td>{{name}}</td>
    <td>{{size}}</td>
    <td>{{type}}</td>
    <td><a href="/delete/{{id}}" class="red">delete</a></td>
    <td><a href="/info/{{id}}" class="red">info</a></td>
    <td><a download="{{name}}" href="upload/{{downloadPath}}" class="red">download</a></td>
</tr>